*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2980B9 ;
}
.LABORATORIO{
    width: 500px;
    background-color: #CACFD2;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
    color: #2980B9;
}
h4{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
input{
    width: 100%;
    background-color:  #CACFD2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 18px;
    border: 1px solid #2980B9 ;
}
input[type=submit]{
    width: 100%;
    background-color: #2980B9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 18px;
    border: none ;
    color: white;
}
